@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Vidly</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Movies</h2>
    </div>
    <div class="col-md-6">
        <h2>Customers</h2>
    </div>
</div>