@model Vidly.ViewModels.RandomMovieViewModel

@{
    ViewBag.Title = "Random";
    var className = Model.Customers.Count > 5 ? "popular" : null;
}


<h2 class="@className">@Model.Movie.Name</h2>

@if (Model.Customers == null || Model.Customers.Count() == 0)
{
    <p class="text-danger">No one has rented this movie. It must suck!</p>
}
else
{


    <ul>
        @foreach (var _c in Model.Customers)
        {
            <li class="popular">@_c.Name</li>

        }
    </ul>
}

